name: smsapp
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev


version: 1.0.0+1

environment:
  sdk: ^3.5.0


dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1
  telephony: ^0.2.0
  http: ^1.2.2
  flutter_local_notifications: ^17.2.3



  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_launcher_icons: ^0.13.1

  flutter_test:
    sdk: flutter

flutter_icons:
  android: true
  ios: true
  image_path: "assets/appLogo.png"

  flutter_lints: ^4.0.0


flutter:
  assets:
  - assets/appLogo.png
  uses-material-design: true

